/* Base page styles */
body {
    color: #333;
    margin: 0;
    background: #fdfdfd;
    font: 14px / 1.3 "Helvetica Neue", Arial, sans-serif;
}

mark {
    background: #94c11e;
    border-radius: 3px;
}
