/* Base page styles */
body {
    color: $base-text-color;
    margin: 0;
    background: $base-bg-color;
    font-size: $base-font-size;
    line-height: 1.3;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

mark {
    background: $highlight-bg-color;
    border-radius: 3px;
}
