/* Groupings of stats */
.group__title {
    font-weight: normal;
    font-size: 1em;
}
.group__link {
    text-decoration: none;
    color: inherit;
    display: block;
    border-radius: 3px;
}
.group__link:hover {
    background: $row-alternate-bg-color;
}
