/* Style statistics table */
.style-table, .grouped-style-table {
    margin: 1em 0;
    border-collapse: collapse;
    width: 100%;
}
.style-table__row:nth-child(2n) {
    background: $row-alternate-bg-color;
}
.style-table__h1, .style-table__h2 {
    color: $base-bg-color;
    height: $example-size;
}
.style-table__h1 {
    background: $row-h1-bg-color;
    font-weight: 400;
    cursor: pointer;
}
.style-table__h2 {
    background: $row-h2-bg-color;
    font-weight: 200;
}
.style-table__example {
    width: $example-size;
    height: $example-size;
    cursor: pointer;
}
.style-table__values {
    padding: 0 1em;
}
.style-table__count {
    width: 50px;
    text-align: right;
    padding: 0 1em;
}
