// Font size
$base-font-size: 14px;

// Text colors
$base-text-color: #333;

// Background colors
$base-bg-color: #fdfdfd;
$highlight-bg-color: #94c11e;

$row-alternate-bg-color: #eee;
$row-h1-bg-color: #666;
$row-h2-bg-color: #888;

// Some sizes
$example-size: 25px;
