.content {
    max-width: 1200px;
    margin: 0 auto;
}

.colors-grid {
    list-style: none;
    overflow: auto;
}
.colors-grid-item {
    position: relative;
    display: block;
    float: left;
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
    margin-right: 1px;
    line-height: 100px;
    text-align: center;
    font-family: monospace;
    font-size: 26px;
    text-shadow: white 1px 1px 1px, white -1px -1px 1px, white -1px 1px 1px, white 1px -1px 1px;
}
.colors-grid-hexcode {
    position: absolute;
    display: block;
    font-size: 12px;
    line-height: 14px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
}

.size-count {
    color: gray;
    font-size: 12px;
}

.Chartable-line {
    stroke: currentcolor;
    stroke-width: 1px;
}
