/* Reset some styles */
th {
    font-weight: inherit;
    text-align: left;
}

/* Base page styles */
body {
    color: #333;
    margin: 0;
    background: #fdfdfd;
    font: 14px / 1.3 "Helvetica Neue", Arial, sans-serif;
}

mark {
    background: #94c11e;
    border-radius: 3px;
}

.stats-panel {
    box-sizing: border-box;
    width: calc(50% - 1em);
    height: 100vh;
    padding: 1em;
    overflow-y: scroll;
    float: left;
}

.source-panel {
    box-sizing: border-box;
    width: calc(50% - 1em);
    height: 100vh;
    padding: 1em;
    overflow-y: scroll;
    float: right;
}

/* a load mask */
.load-mask {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0, 0.3);
}

.colors-grid {
    overflow: auto;
    width: 300px;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.colors-grid-cell {
    float: left;
    border-radius: 1px;
}

.style-table {
    margin: 1em 0;
    border-collapse: collapse;
    width: 100%;
}

.style-table-row:nth-child(2n) {
    background: #eee;
}
.style-table-h1, .style-table-h2 {
    color: #fdfdfd;
    height: 25px;
}
.style-table-h1 {
    background: #666;
    font-weight: 400;
}
.style-table-h2 {
    background: #888;
    font-weight: 200;
}

.style-example {
    width: 25px;
    height: 25px;
}

.style-values {
    padding: 0 1em;
}

.style-count {
    width: 50px;
    text-align: right;
    padding: 0 1em;
}


.size-count {
    color: gray;
    font-size: 12px;
}
